.title {
  scroll-behavior: smooth;
  text-align: center;
  margin: 30px;
  padding: 10px;

  .main-title {
    color: #000000;
    font-weight: bold;
    font-size: 35px;
  }

  .sub-title {
    color: #8a8a8a;
  }
}
