.top-menu {
  height: 50px;
  background-color: white;
  width: calc(100% - 220px);
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .left-section {
    display: flex;
    align-items: center;
    margin: 10px;

    span {
      font-weight: bold;
      margin-left: 10px;
      padding: 0 13px;
      border-right: 2px solid #707070;
    }

    span:not(:first-of-type) {
      padding-right: 5px;
      border-right: none;
    }

    span:nth-of-type(n + 3) {
      display: flex;
      align-items: center;
      margin-left: 0;
      padding-left: 0;

      svg {
        margin-right: 10px;
      }
    }
  }

  .right-section {
    position: relative;

    ul {
      display: flex;
    }

    li {
      display: flex;
      align-items: center;
      list-style: none;

      button {
        margin: 7px 10px;
      }

      &:last-child {
        margin: 0 7px;
      }
    }
  }
}

.form-create {
  width: auto;
  height: auto;
  margin: 0 15px 0 5px;
  padding: 10px;

  background-color: white;
  color: #333333;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-top: 3px solid #def8e2;

  position: absolute;
  z-index: 9;
  top: 47px;
  transform: translateX(10px);

  .btn-createSupplier {
    text-align: left;
    background-color: #f6f6f6;
    border-radius: 3px;
    padding: 10px 13px 10px 5px;
    width: 150px;

    &:hover {
      background-color: #fff2b3;
    }
  }

  .btn-createCategory {
    background-color: #f6f6f6;
    border-radius: 3px;
    padding: 10px 5px;
    width: 150px;
    text-align: left;

    &:hover {
      background-color: #fff2b3;
    }
  }
}

.form-category {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  .form-category-container {
    background-color: #fff;
    width: 40%;
    border-radius: 3px;
    position: relative;

    .container-label {
      height: auto;
      text-align: center;
      border-bottom: 1px solid #f2f2f2;
      background-color: #fbfaf4;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      padding: 10px;

      label {
        font-weight: bolder;
      }
    }

    form {
      padding: 0 20px 20px 20px;

      .container-content {
        .content-top {
          display: grid;
          grid-template-columns: 1fr 1fr;

          .select {
            margin: 5px 10px 5px 0;
            padding: 0 0 5px 0;
          }

          .input {
            margin: 5px 20px 5px 10px;
            padding: 0 0 5px 0;
          }
        }

        .content-bottom {
          display: flex;
          flex-direction: column;
          position: relative;
          margin: 5px 0;

          textarea {
            width: 100%;
            border: 1px solid #acacac;
            padding: 4px;
            border-radius: 3px;
          }
        }
      }

      .container-buttons {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
