@import "@/Common.scss";

.course-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  .course-item-box-container {
    span {
      white-space: nowrap;
    }

    @include desktop() {
      margin-bottom: 10px;
    }

    @include tablet_lg() {
      margin-left: 10px;
    }

    @include tablet() {
      margin-left: 10px;
    }

    @include minTablet() {
      margin-left: 10px;
    }

    @include mobile() {
      margin-left: 10px;
    }
  }

  .course-item-box-img {
    @include tablet_lg() {
      padding-left: 10px !important;
      padding-right: 10px !important;
      border-radius: 33px;
    }

    @include tablet() {
      padding-left: 10px !important;
      padding-right: 10px !important;
      border-radius: 33px;
    }

    @include minTablet() {
      padding-left: 10px !important;
      padding-right: 10px !important;
      border-radius: 33px;
    }

    @include mobile() {
      padding-left: 10px !important;
      padding-right: 10px !important;
      border-radius: 33px;
    }
  }
}

.btn-course-item {
  background-color: #ff7426;
  color: white;
  font-weight: bold;
  margin-top: -20px;
  border-radius: 96px;
  padding: 7px 16px;

  &:hover {
    background-color: #f9d4ab;
  }
}

@include tablet_lg() {
  .btn-course-item {
    padding-left: 13px !important;
    font-size: 14px;
    padding-right: 13px !important;
  }
}

@include tablet() {
  .btn-course-item {
    padding-left: 13px !important;
    font-size: 14px;
    padding-right: 13px !important;
  }
}

@include minTablet() {
  .btn-course-item {
    padding-left: 13px !important;
    font-size: 12px;
    padding-right: 13px !important;
  }
}

@include mobile() {
  .btn-course-item {
    padding-left: 16px !important;
    font-size: 15px;
    padding-right: 16px !important;
  }
}
